DATABASE_URL=postgresql://evagri:evagri@localhost:5432/evagri
NEXTAUTH_SECRET=change_me_to_random_32_chars
NEXTAUTH_URL=http://localhost:3000
DEFAULT_ORGANISATION_ID=
S3_ENDPOINT=https://s3.ca-central-1.ovhcloud.com
S3_REGION=ca-central-1
S3_BUCKET=evagri-prod
S3_ACCESS_KEY=xxx
S3_SECRET_KEY=xxx
